.tipItem {
    line-height: 2;
    padding: 0.5rem 0;
    margin-bottom: 1.2rem;
}
.tipTitle span {
    font-size: 1.1rem;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #b22329;
}
.underLine {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #afafaf;
}
.tipContent,.more {
    font-size: 0.8rem;
    font-family: MicrosoftYaHei;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #afafaf;
    line-height: 2;
}
.tipContent {
    position: relative;
    margin-top: 0.5rem;
}
.content_company {
    padding-right: 1rem;
}